block vars
  - var title = ''
  - var currentPage = 'index'

mixin menu-item(loc, title)
  li(class=(loc == currentPage) ? 'active' : '')
    a(href='/' + loc + '/') #{title}

doctype html
html(lang="en")

  head
    title Imagene Labs #{title}
    link(href=cssPath)

  body
    header
      .container
        .logo
          a(href="/")
            span.imagene Imagene
            span.labs Labs

        nav.menu
          ul
            +menu-item('portfolio', 'Portfolio')
            +menu-item('team', 'Team')
            +menu-item('board', 'Advisory board')
            +menu-item('press', 'Press')
            +menu-item('news', 'Happenings')
            +menu-item('careers', 'Careers')

    block page
      section#hero
        video(src="???" poster="???" autoplay) Watch our promo video

      section#about
        .container
          h1 About us
          p Headquartered in Singapore with a growing footprint in South East Asia, Imagene Labs is Asia&apos;s leading genetics-driven wellness company.
          p Imagene Labs answers consumers&apos; demand for personalized and pre-emptive wellness solutions by unlocking the potential of each person&apos;s DNA to create tailored solutions based on their unique genetic profiles. Based on genetic research, Imagene Labs&apos; Labs offers the most comprehensive lifestyle solutions specially formulated to offer exceptional results for consumers in Asia to look, feel and live their best.

      section#portfolio
        .container
          h1 Portfolio
          article.custom
            h2 DNA tests &amp; customised solutions
            p Tests and customised products
            p.link
              a(href="http://www.askori.com/" target="_blank") www.askori.com
            ul.carousel
              li
                img(src="???" alt="???")
              li
                img(src="???" alt="???")
              li
                img(src="???" alt="???")
            a.button(href="http://www.askori.com/") Visit Ori
          article.wellness
            h2 Wellness products
            p Products made from natural ingredients
            p.link
              a(href="http://www.onsenseries.com/" target="_blank") www.onsenseries.com
            ul.carousel
              li
                img(src="???" alt="???")
              li
                img(src="???" alt="???")
              li
                img(src="???" alt="???")
            a.button(href="http://www.onsenseries.com/") Visit Onsen

      section#technology
        .container
          h1 Technology
          p We use the Illumina Infinium Core-24 BeadChip that has been developed in collaboration with several leading research institutions. This chip contains highly-informative, genome-wide markers found across diverse world populations, and allows us to quickly and easily sample your DNA for unique genetic dispositions to various wellness traits.
          p All samples are processed in-house by our technical experts to stringent and exacting quality standards required in medical diagnostic laboratories.
          ul.filmstrip
            li
              img(src="???" alt="???")
            li
              img(src="???" alt="???")
            li
              img(src="???" alt="???")
            li
              img(src="???" alt="???")

      section#team
        .container
          h1 Team
          p TODO
          .banner
            img(src="???" alt="Team group photo")

      section#partners
        .container
          h1 Partners
          ul.filmstrip
            li
              img(src="???" alt="???")
            li
              img(src="???" alt="???")
            li
              img(src="???" alt="???")
            li
              img(src="???" alt="???")

    footer
      .container
        nav.sitemap
          h5 Site map
          ul
            li
              a(href="/") About us
            +menu-item('portfolio', 'Portfolio')
            +menu-item('team', 'Team')
            +menu-item('board', 'Advisory board')
            +menu-item('press', 'Press')
            +menu-item('news', 'Happenings')
            +menu-item('careers', 'Careers')

        .contact
          h5 Contact us
          p Drop us a line: #[a(href='mailto:hello@imagenelabs.com') hello@imagenelabs.com]
          p Come say hi:
            span.address
              | Imagene Labs Pte. Ltd.
              | 115 Eunos Avenue 3
              | #05-01
              | Singapore 409839

          h5 Social media
          ul
            li
              a(href="http://facebook.com/imagenelabs")
                i.fa.fa-facebook
            li
              a(href="http://instagram.com/imagenelabs")
                i.fa.fa-instagram

        .contact-form
          h5 Drop us a line
          form(action="???" method="post")
            fieldset.email
              label(for="contact-email") Your email:
              input#contact-email(name="email")
            fieldset.message
              label(for="contact-message") Your message:
              textbox#contact-message(name="message")
            button(type="submit") Send

        .newsletter
          h5 Newsletter
          form(action="???" method="post")
            fieldset.email
              label(for="newsletter-email") Your email:
              input#newsletter-email(name="email")
            button(type="submit") Subscribe

      .container
        p.copyright Copyright &copy; #{thisYear} Imagene Labs Pte. Ltd.

    script(src=jsPath)
